@media (max-width: 1200px){
    .right{
        display: none;
    }
    .left {
        width: 100%;
        border-right: none;
        margin-right: 0px;
    }
    .main__price-group .main__bag-price {
        width: 45%;
    }
    .data-time {
        margin-right: 20px;
        padding: 10px 10px;
        width: 25%;
        border: 1px solid #D6D6D6;
    }
    .main__point-address {
        font-size: 15px;
    }
    .main__point-head {
        font-size: 17px;
    }
    .main__point-summ {
        font-size: 15px;
    }
}
@media (max-width: 900px){
    .main__price-group {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .main__price-group .main__bag-price {
        width: 100%;
    }
    .recipient__item {
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }
    .main__point-head {
        font-size: 14px;
    }
    .main__point-address {
        font-size: 13px;
    }
    .main__point {
        padding: 20px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        border: 1px solid #D6D6D6;
    }
    .data-time {
        margin-right: 20px;
        padding: 10px 10px;
        width: 40%;
        border: 1px solid #D6D6D6;
    }
    .data-time-active{
        margin-right: 20px;
        padding: 10px 10px;
        width: 40%;
        border: 2px solid #065CC2;
    }
}
@media (max-width: 500px){
    .main__point-group {
        margin-bottom: 40px;
        display: block;
        flex-direction: none;
    }
    .main__point {
        margin-bottom: 20px;
        padding: 6px 6px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 94%;
        border: 1px solid #D6D6D6;
    }
    .data-column {
        margin-bottom: 20px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    .main__point-head{
        display: none;
    }
    .main__point-head-mobile{
        display: block;
        font-size: 17px;
    }
    .recipient__form {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .recipient__item {
        display: flex;
        flex-direction: column;
        max-width: 94%;
    }
    .main__bag-text {
        font-size: 14px;
        color: #333333;
        margin-right: 10px;
    }
    .main__price-group .main__bag-summ {
        font-size: 14px;
        margin-right: auto;
    }
    .main__price-group .main__bag-summ {
        font-size: 14px;
    }
    .main__bag-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .main__price-btn {
        width: 100%;
        height: 52px;
        font-size: 17px;
        background-color: #FF0000;
        color: white;
    }
    .main__bag-link{
        display: block;
    }
    .main__point-summ {
        display: none;
    }
    .main__bag-text-mobile{
        display: block;
        margin-right: 10px;
    }
    .main__bag-text{
        display: none;
    }
    .head__main{
        font-size: 27px;
    }
    .main__head {
        font-size: 21px;
        margin-right: auto;
    }
    .main__tabs-group {
        display: none;
    }
    .main__point-address {
        font-size: 14px;
    }
    a {
        font-size: 17px;
    }
    .data-head{
        display: none;
    }
    .data-head-mobile{
        display: block;
        font-size: 17px;
    }
    .data-time {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 10px;
        width: 42%;
        border: 1px solid #D6D6D6;
    }
    .data-clock{
        font-size: 14px;
    }
    .recipient__new{
        display: none;
    }
    .recipient__head{
        display: none;
    }
    .recipient__head-mobile{
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .recipient__item:last-child {
        width: 100%;
    }
    .data-time-active{
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 10px;
        width: 42%;
        border: 2px solid #065CC2;
    }
    .main__price {
        display: flex;
        flex-direction: column;
        background-color: #F8F8F8;
    }
    .main__price-desc{
        display: block;
    }
    .main__price-price{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .main__price-price:not(:first-child){
        margin-bottom: 20px;
        border-bottom: 1px solid #D6D6D6;
    }
    .main__price-price:last-child{
        margin-bottom: 190px;
    }
    .main__price-de{
        padding: 20px 20px;
        background-color: #ffffff;
    }
    .main__price-button{
        width: 100%;
        height: 52px;
        border-color: #D6D6D6;
        border-radius: 4px;
        background-color: #FFFFFF;
        font-size: 17px;
    }
    .data-time-active{
        margin-right: 20px;
        padding: 10px 10px;
        width: 42%;
        border: 2px solid #065CC2;
    }

}